# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
*.env
.env.*

# Executables
*.exe
tempCodeRunnerFile.*


# Ignore specific files
test.ipynb